@import './mixin.less';
/* 容器 */

// 引导组件
.introjs-helperLayer {
    background-color: rgba(255, 255, 255, .3);
}

.introjs-tooltip {
    font-size: 14px;
}

.introjs-helperNumberLayer {
    display: none;
}

.wrap {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    background: #fff;
    font-size: initial;

    &::after {
        .clear;
    }

    .right-wrap {
        width: 86%;
        padding: 0 0.55rem 0 0.55rem;
        position: relative;
        transition: width 0.3s;
        float: right;

        .views {
            width: 100%;
            min-height: calc(~'100vh - 60px - 60px - 58px - 36px'); // less计算与calc编译有冲突，故写法修正为这样
            padding: 0.55rem 0;
            position: relative;
        }

        .footer {
            width: 100%;
            height: 60px;
            text-align: center;
            font-size: 12px;
            line-height: 60px;
            color: @grey;
        }
    }

    // 菜单收起
    &.collapse-wrap {
        .right-wrap {
            width: calc(~'100% - 56px');
        }
    }

    // 导航模式
    &.menuType-2 {
        .right-wrap {
            width: 100%;
            float: inherit;

            .views {
                min-height: calc(~'100vh - 60px - 60px - 58px - 36px - 61px');
            }
        }
    }

    // 菜单固定
    &.isFixed {
        .right-wrap {
            margin-top: 61px;
        }
    }

    // 内容布局
    &.content-width-type-2 {
        background: #f0f2f5;

        .right-wrap {
            width: 1230px;
            margin: 0.55rem auto;
            float: inherit;
            background: #fff;

            .views {
                min-height: calc(~'100vh - 60px - 60px - 58px - 36px - 61px - 0.55rem - 0.55rem');
            }
        }

        &.isFixed {
            .right-wrap {
                margin-top: calc(~'61px + 0.55rem');
            }
        }
    }
}

/* 公用弹框样式 */

.public-dialog {
    .autoSC {
        .inp {
            width: calc(~'100% - 100px');
        }

        .btn {
            width: 90px;
            margin-left: 5px;
        }
    }
}

/* 搜索框提示popover */

.search-popover {
    .popover-title {
        color: #333;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .popover-list {
        .popover-item {
            color: #aaa;
            font-size: 14px;
            line-height: 24px;
            height: 24px;
            position: relative;
            padding-left: 10px;

            &::before {
                content: '';
                display: inline-block;
                font-size: inherit;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #aaa;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

/* 附件下载 */

.accessory-download {
    margin-left: 10px;
    color: #009fe9;

    .iconfont {
        font-size: 14px;
    }

    &.accessory-download-2 {
        margin-left: 0;
    }
}

/* 色弱模式 */

.color-week {
    filter: invert(80%);
}

/* 灰度模式 */

.color-grayscale {
    filter: grayscale(1);
}

/* 夜间模式 */

.color-brightness-1 {
    filter: brightness(0.9);
}

.color-brightness-2 {
    filter: brightness(0.6);
}

.color-brightness-3 {
    filter: brightness(0.3);
}